<form action="/" method="POST" class="w-50 d-flex align-items-center">
    <label for="title">Title</label>
    <input required type="text" id="title" name="title" class="form-control" style="margin-inline: 10px;">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" class="form-control" style="margin-inline: 10px;">
    <button type="submit" class="btn btn-primary m-2" style="width: 300px;">Add Task</button>
</form>